<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="ConvertMyMoney">
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <div class="cabecalho">
        <img class="logo" src="logo.png" alt="Convert My Money!" />
    </div>