<%- include('header') %>
    <link href="public/styles.css" rel="stylesheet">
    <h1>Convert</h1>
    <form>
        <input placeholder="cotação">
        <input placeholder="Dolares">
        <button>Converter</button>
    </form>
    <%- include('footer') %>