<%- include('header') %>

    <form method="GET" action="/conversao">
        <input name="cotacao" placeholder="cotação">
        <input name="dolares" placeholder="Dolares">
        <button>Converter</button>
    </form>
    <%- include('footer') %>