<%- include('header') %>

    <form method="GET" action="/conversao">
        <input name="cotacaoManual" placeholder=<%=cotacaoVenda %>>
        <input name="dolares" placeholder="Dolares">
        <button>Converter</button>
    </form>
    <%- include('footer') %>