body{
    text-align: center;
    margin: 0px;
}
form{
    padding-top: 1.5%;
    margin: auto;
    text-align: center;
    width: 50%;
}

input{
    border: thin;
    border-style: solid;
    border-color: black;
    background: rgb(199, 206, 205);
    display: block;
    width: 80%;
    margin: auto;
    padding: 20px 40px;
    margin: 0px;
    font-size:x-large;
}
label{
    font-size:large;
    font-weight: bold;
}

button{
    padding: 2% 5%;
    background: rgb(37, 211, 144);
    margin: 1%;
    font-size: large;
    font-weight: bold;
    border: thin black solid;
}

.cabecalho{
    background-color: rgb(37, 211, 144);
    padding: 3%;
}
.painelResultado{
    border: thin;
    border-style: solid;
    border-color: black;
    width: 50%;
    margin: auto;
    padding: 2% 0;

}

.campoFormulario{
    text-align: start;
    width: 50%;
    margin: auto;
    padding: 1% 0;
}


#horaCotacao{
    font-size: small;
}